/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
  padding: 1em;
}

.l-wrap {
  margin-left: auto;
  margin-right: auto;
}
.content .l-wrap {
  margin-left: -1em;
  margin-right: -1em;
}

/* --------------------------
* Element Styles
* --------------------------
*/

body {
  min-width: 320px;
  color: #777;
  /*line-height: 1.6;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: rgb(75, 75, 75);
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}

a {
  color: #3b8bba; /* block-background-text-normal */
  text-decoration: none;
}

a:visited {
  color: #265778; /* block-normal-text-normal */
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}

aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}
aside a, aside a:visited {
  color: rgb(169, 226, 255);
}

/* --------------------------
* Content Module Styles
* --------------------------
*/

/* The content div is placed as a wrapper around all the docs */
.content {
margin-left: auto;
margin-right: auto;
padding-left: 1em;
padding-right: 1em;
max-width: 768px;
}

.content .content-subhead {
    margin: 2em 0 1em 0;
    font-weight: 300;
    color: #888;
    position: relative;
}

.content .content-spaced {
    line-height: 1.8;
}

.content .content-quote {
    font-family: "Georgia", serif;
    color: #666;
    font-style: italic;
    line-height: 1.8;
    border-left: 5px solid #ddd;
    padding-left: 1.5em;
}

.content-link {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 20px;
    background: transparent url('/img/link-icon.png') no-repeat center center;
    background-size: 20px 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .content-link {
        background-image: url('/img/link-icon@2x.png');
    }
}


/* --------------------------
* Code Styles
* --------------------------
*/

pre,
code {
  font-family: Consolas, Courier, monospace;
  color: #333;
  background: rgb(250, 250, 250);
}

code {
  padding: 0.2em 0.4em;
  white-space: nowrap;
}
.content p code {
  font-size: 90%;
}

.code {
  /*margin-left: -1em;
  margin-right: -1em;*/
  padding: 1em;
  border: 1px solid #eee;
  border-left-width: 0;
  border-right-width: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.code code {
  font-size: 95%;
  white-space: pre;
  word-wrap: normal;
  padding: 0;
  background: none;
}
.code-wrap code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code .c_var {
  color: rgb(137, 89, 168);
}
.code .c_func {
  color: rgb(66, 113, 174);
}
.code .c_num {
  color: rgb(245, 135, 31)
}
.code .c_string {
  color: rgb(113, 140, 0)
}

/* --------------------------
* Button Styles
* --------------------------
*/
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
